@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: #ededed;
}

header {
    background-color: white;
    height: 10vh;
    display: flex;
    font-size: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 100%;
    gap: 1%;
}

header .login7 {
    width: 20vw;
    margin-right: 30%;
}

header nav{
    width: 40vw;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 3%;
    transition: 0.6s;
}

nav a:hover {
    border-bottom: 16px solid #0d8f75;
}

header img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-right: 50px;
    margin-top: 75px;
    height: 130px;
    border-radius: 0 0 30px 30px;
}

.backgrond-quran {
    background-image: url(/IMG/mosqueweb.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 30%;
    width: 100%;
}

.backgrond-quran h1 {
    font-size: 62px;
    margin:  -250px -350px 0 350px;
}

.backgrond-quran p {
    font-size: 32px;
    margin:  0 -350px 0 650px;
}

.button-quran {
    text-align: center;
    font-size: 18px;
    color: #0d8f75;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid white;
    margin: 20px -350px 0 0;
    cursor: pointer;
}

.quran-ayh {
    margin: 50px;
}

.quran-ayh h1 {
    text-align: center;
    color: #214570;

}

.quran-ayh p {
    font-size: 20px;
    text-align: center;
    color: #214570;
    margin: 0 0 0 0;
}

/* الفوتر ومحتوياته */
footer{
    background-color: #214570;
    width: 100%;
    position: absolute;
}
.footerContainer{
    position: absolute;
    height: 1vh;
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;

}
.socialIcons a{
    text-decoration: none;
    padding: 7px;
    background-color: white;
    margin: -60px 4% 60px 5%;
    border-radius: 50%;
    transition: 0.5s;
}
.socialIcons a i{
    font-size: 2em;
    color: #45926e;
    opacity: 0.9;
    transition: 0.5s;
}
.socialIcons a:hover{
    background-color: #45926e;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.FooterNav{
    margin: 30px 0 ;
}

.FooterNav ul{
    display: flex;
    justify-content: center;
}

.FooterNav ul{
    color: rgb(255, 255, 255);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    display: block;
    text-align: center;
}
.FooterNav ul li a:hover{
    opacity: 1;

}
.FooterBottom{
    background-color: #45926e;
    padding: 20px;
    text-align: center;
}
.FooterBottom p{
    color: rgb(255, 255, 255);
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.FooterNav li{
    color: #ffffff;
}

.aboutus a {
    margin: 3% 2% 0 2%;
    display: inline-flex;
    align-items: end;
    text-decoration: none;
    color: white;
}

/* الكاردات */

.card-block{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
    height: 420px;
    text-align: center;
    width: 70vh; 
}

.card-block h1 {
    text-align: right;
    margin-right: 10px; 
    color: #214570;
    margin: 15px 15px 15px 0;
}

.img-h {
    width: 350px;
    border-radius: 30px 30px 0 0;
    /* margin: 1%; */
    border-bottom: 10px solid #0d8f75;
}

.card-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1%;
    margin-bottom: 50px;
}

.text-card {
    text-align: right;
    padding: 1%;
    font-size: 15px;
    color: grey;
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid grey;
    margin: 30px 0 -50px 200px;
    position: absolute;
}

.button-card {
    text-align: center;
    font-size: 18px;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    background-color: #214570;
    border: 1px solid #214570;
    margin: 30px 200px -50px 0;
    transition: 1s;
    cursor: pointer;
}

.button-card:hover {
    opacity: 0.8;
}

.title5 {
    margin-top: -14%;
    margin-left: 70%;
}

.title5 p {
    color: #214570;
}

.title5 h2 {
    color: #0d8f75;
}

.title7 {
    margin-right: 58%;
    width: 40%;
}
.title7 p {
    color: #214570;
}

.title7 h2 {
    color: #0d8f75;
}

/* للمزيد من فرص التبرع زر */

.for-more-donate {
    margin: 100px;
}

.button-for-more {
    text-align: center;
    font-size: 18px;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    background-color: #214570;
    border: 1px solid #214570;
    margin: 0 400px 0 0;
    transition: 1s;
    cursor: pointer;
}

.button-for-more:hover {
    opacity: 0.8;
}
